.container-fluid{
    width: 100%;
    padding: 0px;
}

.row{
    margin: 10px;
    padding: 10px 10px 0px;
}
.page-header{
    width:100%;
    padding: 10px 0px;
    border-bottom: 2px solid #164b83
}
#id{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600 !important;
    color:#164b83;
}
.page-header h6{
    font-size: 18px;
}

.center{
    position: absolute;
    top:30%;
    font-weight: bold;
    color: white;
    width:120px;
    font-family:Arial, Helvetica, sans-serif
}
.tip{
    position: fixed;
    bottom: 0%;
    color: gray;
    padding: 5px
}
.align-center{
    margin: 50px 0px;
}
.count{
    font-size: 25px;
    font-weight: 700; 
}
.pages{
    position: absolute;
    margin: 0px 10px;
    background-color: white

}

.middle{
    position: absolute;
    top:15vh;
}
.img{
}
.thanks{
    width:100%;
}
.tabs{
    display: flex;
    justify-content: center;
    min-height: 241px;
    margin-bottom: 2vh;

}
.credit{
    font-size: 22px;
}
.info{
    display: flex;
    justify-content: center;
}
.extraLg{
    text-align: center;
    width: inherit;
    color: black
}
.extraLg span {
    font-size: 23vw !important;
}
.num{
    width:43vw;

}
.marginTop{
    margin-top: 10px;
    margin-bottom: 30px;
}
small{
    font-size: 18px;

}
