<span class="pages page3 row h-100" style="overflow:hidden">
    <div class="animated thanks my-auto" appSlide [currpage]="'page3'" [prevpage]="'page2'" [nextpage]="'page4'">
      <div class="container-fluid middle_pages">
        <div class="row animated info">
          <div class="col-12 tabs text-center ">
            <div class="row">
              <div>
                <h1 class="extraLg ">
                  <h6 style="margin: 5px"><small>People has <b>saved</b></small> </h6>
                  <span class="fa" aria-hidden="true">₹</span><span class="page3_counter animated zoomIn" id="counter">{{x}}</span><br>
                  <!-- <h6 style="margin: 5px">amount of money</h6> -->
                </h1>
              </div>

            </div>
          </div>
        <div class="col-12">
          <div class="marginTop text-center" >
            <h4>
              <small>
                  by choosing this WaterATM.<br><br>
                  <span class="text-left">
                      While <b>1 litre</b> of overly priced drinking water costs about <b>₹15-20</b>, <b></b>Swajal WaterATM provides the same at <b>₹5</b>.
                  </span>
              </small>
            </h4>
          </div>
        </div>

        </div>
      </div>
    </div>
</span>