.container-fluid{
    width: 100%;
    padding: 0px;
}
.deviceHead{
    background-color: rgba(128,179, 255,0.5);

}
.row{
    margin: 0px;
    padding: 10px 10px 0px;
}
.page-header{
    width:100%;
    padding: 10px 0px;
    border-bottom: 2px solid #164b83
}
#id{
    font-size: 23px;
    font-family: monospace;
    font-weight: 600 !important;
    color:#164b83;
}
.page-header h6{
    font-size: 18px;
}
.circle_card{
    /* margin-top: 30px; */
    padding: 10px;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
}
.circle{
    border-radius: 50%;
    background-color: #164b83;
    height:150px;
    width: 150px; 
    margin: 10px;
}
.center{
    position: absolute;
    top:30%;
    font-weight: bold;
    color: white;
    width:120px;
    font-family:Arial, Helvetica, sans-serif
}
.red{
    background-color: #ff6058;
}
.yellow{
    background-color: #fbbc05 !important;
}
.green{
    background-color: #34a853
}
.blue{
    background-color: #4185f4;
}
.tip{
    position: fixed;
    bottom: 0%;
    color: gray;
    padding: 5px
}
.align-center{
    margin: 50px 0px;
}
.footer{
    margin-top: 20px;
}
.count{
    font-size: 25px;
    font-weight: 700; 
}
.pages{
    position: absolute;
    width:100%;
}

.middle{
    position: absolute;
    top:15vh;
    
}

.thanks{
    width:100%;
}
.tabs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.credit{
    font-size: 22px;
}
.info{
    display: flex;
    justify-content: center;
}
.extraLg{
    text-align: center;
    width: inherit;
    color: #164b83
}
.extraLg .count {
    font-size: 17vw !important;
}
.num{
    width:55vw;

}
.marginTop{
    margin-top: 20px;
}
@media screen and (max-width:360px){
    .circle{
        border-radius: 50%;
        background-color: #164b83;
        height:140px;
        width: 140px; 
        margin: 10px;
    }
}