<div class="animated pages page1 h-100" appSlide [currpage]="'page1'" [prevpage]="" [nextpage]="'page2'" style="overflow:hidden" >
    <div class="container-fluid deviceHead">
      <div class="row text-center">
          <div class="page-header">
            <h4>{{title}} <span id="id">{{service.id}}</span></h4>
            <h6>Location : {{service.location}}</h6>
          </div>
      </div>
    </div>
    <div class="align-center" >
        <div class="container-fluid">
            <div class="row circle_card animated fadeIn">
              <div class="col-sm-5 circle {{card.color}} animated " *ngFor="let card of circular_cards" >
                <div class="center row h-100 inner_box">
                  <span class="align-self-center text-center m-auto">
                    <div class="title text-center ">
                        {{card.title}}
                      </div>
                      <div class="value text-center">
                          <span class="{{card.name}} count">0</span> {{card.unit}}
                      </div>
                  </span>

                </div>
              </div>
            </div>
          </div>
          <div class="container footer text-center">
            <div class="row">
              <div class="page-footer animated zoomIn" *ngIf="flag">
                 <h5>
                   Let's see what this machine has achieved so far!
                 </h5> 
              </div>
            </div>
          </div>
    </div>
    
    <div class="container tip text-center animated fadeInUp" *ngIf="flag">
      <h6>Tip: Control the app with simple up and down swipes.</h6>
    </div>
  </div>