<div class="animated pages page1 h-100" appSlide [currpage]="'page1'" [prevpage]="" [nextpage]="'page2'" style="overflow:hidden" >
    <div class="container-fluid deviceHead">
      <div class="row text-center">
          <div class="page-header">
            <h4>{{title}} <span id="id">{{service.id}}</span></h4>
            <h6>Location :{{ro_info[0].Location}}</h6>
          </div>
      </div>
    </div>
    <div class="align-center" >
        <div class="container-fluid">
            <div class="row circle_card animated fadeIn">
              <div class="col-sm-5 circle {{card.color}} animated " *ngFor="let card of circular_cards" >
                <div class="center row h-100 inner_box">
                  <span class="align-self-center text-center m-auto">
                    <div class="title text-center ">
                        {{card.title}}
                      </div>
                      <div class="value text-center">
                          <span class="{{card.name}} count">0</span> {{card.unit}}
                      </div>
                  </span>

                </div>
              </div>
            </div>
          </div>
          <div class="container footer text-center">
            <div class="row">
              <div class="page-footer animated zoomIn" >
                 <h5>
                   {{status}} what this WaterATM has achieved so far!
                 </h5> 
                <div class="col-12 widthcut  shareIcons" *ngIf="share">
                  <span class="flex">
                      <a class="fb" id="fb" href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=https%3A%2F%2Fswajal.in%2Fmonitor%2F#%2F{{service.cluster}}%2F{{service.id}}%2Fpage1&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer"><i class="fa fa-facebook"></i></a>
                      <a class="twitter" href="https://twitter.com/intent/tweet?related=%5Bu%27Swajal15%27%2C%20u%27Monitor%27%2C%20u%27Swajal%27%2C%20u%27WaterATM%27%5D&url=https%3A%2F%2Fwww.swajal.in%2F%23%2F{{service.cluster}}%2F{{service.id}}%2Fpage1&text=Do%20you%20know%20what%20this%20Swajal%20water%20ATM%20can%20do?%20Find%20out%20at&original_referer=http%3A%2F%2Fswajal.in/monitor%2F"><i class="fa fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title=Insight&summary=Have%20you%20tried%20it?&source=LinkedIn" class="lin"><i class="fa fa-linkedin"></i></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <div class="container tip text-center animated fadeInUp" *ngIf="!share">
      <h6>Tip: Control the app with simple up and down swipes.</h6>
    </div>
  </div>