.container-fluid{
    width: 100%;
    padding: 0px;
}
.deviceHead{
    background-color:white;

}
.row{
    margin: 0px;
    padding: 10px 10px 0px;
}
.zoomIn{
    animation-delay: 2500ms;
    /* animation-duration: 2000ms; */
}
.fadeInUp{
    animation-delay: 3500ms;
}
.page-header{
    width:100%;
    padding: 10px 0px;
    border-bottom: 2px solid #164b83
}
#id{
    font-size: 23px;
    font-family: monospace;
    font-weight: 600 !important;
    color:#008282;
}
.page-header h6{
    font-size: 18px;
}
.circle_card{
    /* margin-top: 30px; */
    padding: 10px;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
}
.circle{
    border-radius: 50%;
    background-color: #164b83;
    height:140px;
    width: 140px; 
    margin: 10px;
}
.center{
    font-weight: bold;
    color: white;
    width:120px;
    font-family:Arial, Helvetica, sans-serif
}
.red{
    background-color:#1e99eb !important;
}
.yellow{
    background-color: rgb(157, 214, 72) !important;
}
.green{
    background-color: rgb(157, 214, 72) !important;
}
.blue{
    background-color: #f4ce51 !important;
}
.tip{
    position: fixed;
    bottom: 0%;
    color: gray;
    padding: 5px;
    width:95% !important;

}
.align-center{
    margin: 50px 0px;
}
.footer{
    margin-top: 20px;
}
.value{
    font-size: 25px;
    font-weight: 700; 
}
.pages{
    position: absolute;
    margin: 0px 10px;
    background: white
}

.middle{
    position: absolute;
    top:15vh;
    
}

.thanks{
    width:100%;
}
.tabs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.credit{
    font-size: 22px;
}
.info{
    display: flex;
    justify-content: center;
}
.extraLg{
    text-align: center;
    width: inherit;
    color: #b79d59
}
.extraLg .count {
    font-size: 17vw !important;
}
.num{
    width:55vw;

}
.marginTop{
    margin-top: 20px;
}
.title{
    font-size:18px;
}
@media screen and (max-width:400px) and (max-height:650px){
    .circle{
        border-radius: 50%;
        background-color: #164b83;
        height:120px;
        width: 120px; 
        margin: 0px !important;
    }
    .circle_card{
        padding-left:0px;
        padding-right: 0px; 
    }
    .footer{
        margin-top: 0px;
    }
    .align-center{
        margin:0px;
    }
    h6{
        font-size: .9rem;
    }
    .inner_box{
        /* display: table-cell; */
        padding: 0px;
        /* margin:20px 0px !important; */
        width:100%;
    }
    .title{
        font-size:1rem;
    }
    .value{
        font-size: 1.5rem;
    }
}

@media screen and (max-height:550px){
    .pages{
        padding-top: 0px !important;
    }

}
.shareIcons{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto !important;

}
.flex{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    list-style-type: none;

}
.fa{
    font-size:1.8em;
    margin: 11px 0px;
}
.fb{
    background: rgba(59,89,151,1);
    /* padding: 10px 13px; */
}
.twitter{
    background: rgba(2,172,237,1);
    /* padding: 10px 10px; */

}
.lin{
    /* padding: 10px 10px; */
    background: rgba(2,119,181,1);
}
.fa {
    color: white;
}
.widthcut{
    width:80vw;
}
a{
    border-radius: 50%; 
    width:51px;
    height: 51px;
    margin-right:10px 
}
.hide{
    opacity: 0;
}
@media screen and (max-width:400px){
    .widthcut{
        width:75vw;
    }
    .content{
        padding: 0px;
    }
    .havent h2{
        margin-top:0px;
        font-size : 1.7rem;
    }
    .tag{
        font-size: 2.7vh;
    }
    .shareIcons{
        margin-top: 0px !important;
        margin-left: 10px;
    }
    .tabs{
        margin-top: 0px;
    }

}
@media screen and (max-width:330px){
    .content{
        padding: 0px;
    }
    .havent{
        margin-top:2vh;
    }
    .shareIcons{
        margin-top: 0px !important;
        margin-left: 10px;
    }
    .havent h2{
        margin-top:0px;
        font-size : 1.7rem;
    }
    .tag{
        font-size: 2.7vh;
    }
    .shareIcons{
        margin-top: 0px !important;
        margin-left: 10px;
    }
    .tabs{
        margin-top: 20px;
    }

}
@media screen and (max-height:550px){
    .row{
        padding-top:0px !important; 
    }
}