/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
    overflow: hidden;
}
@media screen and (orientation:landscape) {
    .pages{
        display: none;
    }
    body{
        background-color: white !important;
    }
    .err{
        display: block !important;
    }
  }